USE [master]
GO
/****** Object:  Database [pub]    Script Date: 08/10/2025 10:58:39 ******/
CREATE DATABASE [pub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pub]
GO
/****** Object:  Table [dbo].[BRAND]    Script Date: 08/10/2025 10:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRAND](
	[IdBrand] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CERVEZA]    Script Date: 08/10/2025 10:58:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CERVEZA](
	[IdCerveza] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[IdBrand] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCerveza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BRAND] ([IdBrand], [Nombre]) VALUES (1, N'Heineken')
INSERT [dbo].[BRAND] ([IdBrand], [Nombre]) VALUES (2, N'Mahou')
INSERT [dbo].[BRAND] ([IdBrand], [Nombre]) VALUES (3, N'Estrella Galicia')
GO
INSERT [dbo].[CERVEZA] ([IdCerveza], [Nombre], [IdBrand]) VALUES (0, N'rgerg', 3)
INSERT [dbo].[CERVEZA] ([IdCerveza], [Nombre], [IdBrand]) VALUES (1, N'Heineken Lager', 1)
INSERT [dbo].[CERVEZA] ([IdCerveza], [Nombre], [IdBrand]) VALUES (2, N'Mahou artesana', 2)
GO
ALTER TABLE [dbo].[CERVEZA]  WITH CHECK ADD  CONSTRAINT [FK_Cerveza_Brand] FOREIGN KEY([IdBrand])
REFERENCES [dbo].[BRAND] ([IdBrand])
GO
ALTER TABLE [dbo].[CERVEZA] CHECK CONSTRAINT [FK_Cerveza_Brand]
GO
USE [master]
GO
