@model List<Cerveza>

    <h1>Cervezas</h1>

    <p>
        <a asp-action="Create">Crear</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var beer in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m=>beer.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(mbox=>beer.IdBrandNavigation.Nombre)
                </td>
            </tr>
        }
        </tbody>
    </table>