@model List<Cerveza>
<h1>Cervezas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Marca
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var beer in Model)
        {
            //ODO arreglar aqui
            <tr>
                <td>
                    @Html.DisplayFor(mbox=>beer.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(mbox=>beer.IdBrand)
                </td>
            </tr>
        }
    </tbody>

</table>